
#ignore thumbnails created by windows
Thumbs.db
#Ignore files build by Visual Studio
src/**/*.suo
src/**/*.bak
src/**/*.[Cc]ache
src/**/*.csproj.user
src/**/[Bb]in/
src/**/[Oo]bj/
src/*/packages/*/*
src/*/TestResults